.Header > a > h1 {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vacationLink{
    text-decoration: none;
}